<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<% if user_signed_in? %>
<div>
  <%= form_with(model: [@property, @image]) do |form| %>
    <%= form.submit "Add image" %>
  <% end %>
</div>
<% end %>

<% @property.images.each do |image| %>
  <% if image.persisted? %>
    <% if image.image.present? %>
      <%= image_tag (image.image) %>
    <% else %>
      <%= form_with(model: [@property, image]) do |form| %>
        <%= form.file_field :image %>
        <div>
          <%= form.submit "Save" %>
        </div>
        <% end %>
      <% end%>
  <% end %>
<%end %>

<p>
  <strong>User:</strong>
  <%= @property.user_id %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
