<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Nights number</th>
      <th>Guests number</th>
      <th>Cost</th>
      <th>Property</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.name %></td>
        <td><%= reservation.last_name %></td>
        <td><%= reservation.email %></td>
        <td><%= reservation.phone %></td>
        <td><%= reservation.nights_number %></td>
        <td><%= reservation.guests_number %></td>
        <td><%= reservation.cost %></td>
        <td><%= reservation.property_id %></td>
        <td><%= reservation.status %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Show', reservation %></td>
          <td><%= link_to 'Approve', reservations_approve_path(reservation) %></td>
        <% else %>
          <td><%= link_to 'Show', reservation %></td>
          <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
          <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
